<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/assets/css/please-wait.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/assets/css/skin-blue.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/iCheck/flat/blue.css" rel="stylesheet" />
    <link href="~/assets/plugins/SweetAlert2/sweetalert2.min.css" rel="stylesheet" />
    
    @*<link href="~/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="~/Content/SiteCss/Main.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    
    <!--[if lt IE 9]>
    <script src="~/assets/js/html5shiv.min.js"></script>
    <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<!-- ADD THE CLASS fixed TO GET A FIXED HEADER AND SIDEBAR LAYOUT -->
<!-- the fixed layout is not compatible with sidebar-mini -->
<body class="hold-transition skin-blue fixed sidebar-mini">
    <!--Splash Screen-->
    @*<script type="text/javascript">
        function Splash() {
            var splash = window.pleaseWait({
                logo: "/assets/img/logo.jpg",
                backgroundColor: '#3c8dbc',
                loadingHtml: "<h1 class='loading-message'>Template by Erikson</h1>" +
                '<div class="sk-folding-cube"><div class="sk-cube1 sk-cube" ></div><div class="sk-cube2 sk-cube"></div><div class="sk-cube4 sk-cube"></div><div class="sk-cube3 sk-cube"></div></div>'
            });

            return splash;
        }

        waiter = Splash();
        $(document)
            .ready(function () {
                setTimeout(function () {
                    waiter.finish();
                }, 2000);
            });
    </script>*@



    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
               @* <span class="logo-mini"><img src="~/Pictures/Mei Mei Logo copy.jpg" class="img-fluid"/></span>*@
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">@MyApp.Functions.AppEnum.SiteName</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("Profile")
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <aside class="main-sidebar">
            @Html.Partial("Menus")
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content-header">
                <h1>
                    @Html.Raw(ViewBag.Icon) @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                 
                
            </section>
            <section class="content">

                <div class="callout" style="display:none;">
                    <h4 id="callOutHeader">I am a success callout!</h4>
                    <p id="callOutMessage">This is a green callout.</p>
                </div>

                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> @ViewContext.Controller.GetType().Assembly.GetName().Version
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year - <a href="https://www.facebook.com/MorhaHorngMeiMei">@MyApp.Functions.AppEnum.SiteName</a>.</strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <script src="~/assets/js/please-wait.min.js"></script>
    <script src="~/assets/js/modernizr.js"></script>

    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>

    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    <script src="~/Scripts/loadingoverlay.min.js"></script>
    <script src="~/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/fastclick/fastclick.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/demo.js"></script>
    <script src="~/assets/js/AdminLTE.js"></script>
    <script src="~/assets/plugins/iCheck/icheck.min.js"></script>
    <script src="~/assets/plugins/SweetAlert2/sweetalert2.min.js"></script>
    <script src="~/Scripts/SiteScript.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script>

        

        $(document).ready(function () {
            $('input[type="radio"]')
                .iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue',
                    increaseArea: '20%' // optional
                });

            $('input[type="checkbox"]:not(.bootstrap-switch)')
                .iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue',
                    increaseArea: '20%' // optional
                });
        })

        //////// Calling Out Message box ////////

        @{ 
            if(ViewBag.MsgSuccess != null)
            {
                <text>
                    CallOutMessage('success', 'Successfully', '@ViewBag.MsgSuccess')
                </text>
            }
        }

        ////////////////////////////////////////

        //////// Set Active Menu //////////////
        @{ 
            if(ViewBag.Active != null)
            {
                <text>
                var MenuTree = $('.sidebar-menu').children();
                $(MenuTree[@(ViewBag.Active)]).addClass('active');
                </text>
            }
        }
        //////// Set Active Menu //////////////

    </script>
    @RenderSection("scripts", required: false)

    
        
    @{
        if (ViewBag.Menu != null)
        {
            if (ViewBag.Menu == "Home")
            {

            }
        }


        if (ViewBag.Erro != null)
        {
            foreach (var m in (List<string>)ViewBag.Erro)
            {
                <script>
                    MsgErro('@m');
                </script>
                }
            }

            if (ViewBag.Ok != null)
            {
                foreach (var m in (List<string>)ViewBag.Ok)
                {
                <script>

                    ('@m');
                </script>
                }
            }

            if (ViewBag.Info != null)
            {
                foreach (var m in (List<string>)ViewBag.Info)
                {
                <script>
                    MsgInfo('@m');
                </script>
                }
            }

            if (ViewBag.Alerta != null)
            {
                foreach (var m in (List<string>)ViewBag.Alerta)
                {
                <script>
                    MsgAlerta('@m');
                </script>
                }
            }

        }
</body>
</html>
