@using MyApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

@section styles{
    
    
}


<div class="login-box">
    <div class="login-logo">
        <a href="/Dashboard/Dashboardv1"><b>@MyApp.Functions.AppEnum.SiteName</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your app</p>
       @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form", name = "frmLogin" }))
       {
            @Html.AntiForgeryToken()
            <small>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</small>

            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = Resource.UserName })
                <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Resource.Password })
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
       }
        @*<div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>*@
        <!-- /.social-auth-links -->
        <a href="#">I forgot my password</a><br>
        <a href="/Example/Register" class="text-center">Register a new membership</a>
    </div>
    <!-- /.login-box-body -->
</div>

<!--
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
           
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        @*<img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">*@
                        <img src="~/Pictures/Mei Mei Logo copy.jpg" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", name="frmLogin" }))
                    {   
                        @Html.AntiForgeryToken()
                        <small>@Html.ValidationSummary(true, "", new { @class = "text-danger text-light" })</small>

                        <small>@Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-light" })</small>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="Username"  id="Username" class="form-control input_user" value="" placeholder="ឈ្មោះអ្នកប្រើប្រាស់">
                        </div>
                        <small>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-light" })</small>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="Password" id="Password" class="form-control input_pass" value="" placeholder="ពាក្យសម្ងាត់">
                        </div>
                        @*<div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label">ចងចាំពាក្យសម្ងាត់</label>
                            </div>
                        </div>*@
                        <button type="submit" name="button" class="btn login_btn">ចូល</button>
                        
                    }
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                    
                </div>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <a href="#">ភ្លេចពាក្យសម្ងាត់?</a>
                    </div>
                </div>
                <div class="text-center mt-1 text-light">
                    <small>&copy; @DateTime.Now.Year - @MyApp.Functions.AppEnum.SiteName</small>
                </div>
            </div>
            
        </div>
    </div>
    -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}